@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
	/* Primary Colors */
	--primary-light-cyan: hsl(193, 38%, 86%);
	--primary-neon-green: hsl(150, 100%, 66%);

	/* Neutral Colors */
	--neutral-grayish-blue: hsl(217, 19%, 38%);
	--neutral-dark-grayish-blue: hsl(217, 19%, 24%);
	--neutral-dark-blue: hsl(218, 23%, 16%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
	position: relative;
}

body {
	min-height: 100vh;
	background-color: var(--neutral-dark-blue);
	color: var(--primary-light-cyan);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
